<html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initialscale=1.0">
<title>Master Linux Solutions</title>
<style>
body {
font-family: Arial, sans-serif;
background-color: #f4f4f4;
margin: 0;
padding: 0;
display: flex;
align-items: center;
justify-content: center;
height: 100vh;
}
.container {
text-align: center;
padding: 20px;
border-radius: 10px;24
background-color: #fff;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1 {
color: #333;
}
h2 {
color: #555;
}
p {
color: #777;
}
#ceos {
margin-top: 20px;
}
#ceos img {
border-radius: 50%;
margin-right: 10px;
}
</style>
</head>
<body>
<div class="container">
<h1>Bienvenido a Master Linux Solutions</h1>25
<h2>Para soluciones Pinguinescas</h2>
<p>Descubre soluciones avanzadas en el mundo Linux.</p>
<div id="ceos">
<p>CEO: Alfredo Montero y Andrés Dos Anyos</p>
</div>
</div>
<script>
</script>
</body>
</html>
